
input[type="submit"] {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    align-items:center;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0px #37a69b;
    background-color: #37a69b;
    background-image: linear-gradient(top,#3db0a6,#3111);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}
